<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  </head>

  {% if user.is_authenticated %}
  <nav class="navbar mynav" role="navigation" id="navbar">
    <div class="container">
      <a class="navbar-brand mynav" href="{% url 'home' %}">I4 Competition</a>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav"><a href="#"></a>Scoreboard</li>
        <li><a href="#"></a>Annoucements</li>
        <li><a href="#"></a>Dropbox</li>
        <li><a href="#"></a>Documents</li>
        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
      </ul>
    </div>

  </nav>
  {% else %}

  {% endif %}
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
