<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="icon" href="{% static "images/r.png" %}" >
  </head>

  {% if user.is_authenticated %}


  <nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#"><img src="{% static "images/Logo.png" %}" width="35%" align="center"/></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="#">Announcements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="#">Documents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Submit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Scoreboard</a>
        </li>
        <li class="nav-item">
          <button style="padding-top: 0%; padding-bottom: 0%" class="btn btn-danger"><a class="nav-link" href="{% url 'logout' %}" style="color: white;" >Logout</a></button>
        </li>
      </ul>
    </div>
  </nav>









  
  {% endif %}
  <body>
  <br><br>
    {% block content %}{% endblock %}
  
    <footer class="footer fixed-bottom">
      <div class="container fixed-bottom" align="center" style="color: rgb(90,65,125);">
        <span >created by <a href="https://sid-hant.github.io" target="_blank">devs & designers</a> at i4</span>
      </div>
    </footer>
  </body>
</html>
